body {
  background-image: "{{ url_for('static', filename='main.css') }}";
}
.jumbotron {
  background: Black;
  padding-bottom: 80px; }
  .jumbotron .btn-primary {
    background: Black;
    border-color: Black; }
    .jumbotron .btn-primary:hover {
      background-color: Black; }
  .jumbotron p {
    color: Blue;
    max-width: 75%;
    margin: 1em auto 2em; }
  .navbar + .jumbotron {
    margin-top: -20px; }
  .jumbotron .lang-logo {
    display: block;
    background: Black;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px Black; }
    .jumbotron .lang-logo img {
      max-width: 100%; }
